#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
    display: flex;
    min-height: 100vh; /* Zapewnia, że kontener zajmuje co najmniej całą wysokość ekranu */
}

nav {
    width: 250px;
    background-color: #f0f0f0;
    padding: 10px;
    /* Zmiany poniżej */
    position: fixed; /* Przyklejamy nawigację */
    top: 0;
    left: 0;
    height: 100vh; /* Nawigacja zajmuje całą wysokość ekranu */
    overflow-y: auto; /* Dodajemy scrollbar w razie potrzeby */
}

.content-wrapper {
    flex-grow: 1;
    padding: 20px;
    /* Zmiana poniżej */
    margin-left: 250px; /* Dodajemy margines z lewej strony, równy szerokości nawigacji */
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh; /* Zapewnia, że treść zajmuje co najmniej całą wysokość ekranu */
}

.logout-button {
    position: fixed; /* Make it fixed relative to the viewport */
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    padding: 8px 16px;
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    z-index: 100; /* Ensure it appears above other elements */
}

.logout-button:hover {
    background-color: #bd2130;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrowanie w poziomie */
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Ustalona szerokość */
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
    width: 100%; /* Pola input zajmują całą szerokość kontenera */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ważne, aby padding nie zwiększał szerokości */
}

.error-message {
    color: red;
    margin-bottom: 10px;
}